.dashboard__wrapper {
  position: relative;
  .dashboard-links{
    ul{
      display: flex;
      gap: 24px;
      li{
        font-size: 18px;
        font-weight: 500;
      }
    }

  }
  .modal {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    // display: none;
  }
  .dashboard-body{
    // border: 1px solid black;
    // .dashboard-button{
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   gap: 16px;
    //   margin-bottom: 24px;
    // }
  
  }
}
