.splash__wrapper{
    display: flex;
    margin: 210px auto;
    justify-content: center;
    align-items: center;   
    // border: 1px solid black;
    .splash-text{
        border: 1px solid black;
        
    }
}